/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    color: #333;
    line-height: 0%;
  }
  
  h3 {
    color: #444;
  }
  
  p {
    color: #666;
  }

  span {
      color: #555;
      font-size: 14px;
  }

  .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
  }

  .menu a {
      margin: 0 20px;
      border-radius: 5px;
      text-decoration: none;
      color: #fff;
      background-color: rgb(253, 138, 138);
      padding: 10px;
  }

  .menu a:hover {
    background-color: rgb(252, 110, 110);
  }

  .profile {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      background-color: rgb(240, 240, 240);
      padding: 20px;
      border-radius: 5px;
  }

  .profile img {
      width: 200px; height: 200px;
      border-radius: 50%;
      margin-right: 20px;
  }

  .map {
      margin-bottom: 50px;
  }

  .map h4 {
      color: #555;
  }

  .map a {
    text-decoration: none;
  }

  .map li {
      color: #666;
      font-size: 15px;
  }

  .fim {
    font-size: 15px;
    font-style: italic;
  }

  .theme {
      text-align: center;
      margin-top: 30px;
  }

  footer {
      margin-top: 100px;
  }
  



  /*
  
    Folha de estilos do checkbox

  */

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }